SINGAPAY_BASE_URL=https://sandbox-payment-b2b.singapay.id
NEXT_PUBLIC_SITE_URL=https://autoflow.roketmedia.id
SINGAPAY_CLIENT_ID=
SINGAPAY_CLIENT_SECRET=
SINGAPAY_API_KEY=
SINGAPAY_HMAC_VALIDATION_KEY=
SINGAPAY_ACCOUNT_ID=
MEMBERSHIP_ACCESS_CODES=
SUPABASE_URL=https://ogzxhzikebctrtmzdvvs.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
ROKETCHAT_API_KEY=
ROKETCHAT_WEBHOOK_SECRET=
ROKETCHAT_ADMIN_SECRET=
ROKETCHAT_GREETING_MESSAGE=
AFFILIATE_COOKIE_DAYS=30
AFFILIATE_MIN_WITHDRAWAL=100000
AFFILIATE_ADMIN_PHONE=6285741813147
BUNNY_STREAM_LIBRARY_ID=569248
BUNNY_STREAM_VIDEO_ID=39d09d46-a9b2-4438-b9fa-c23c85a289ef
BUNNY_STREAM_CDN_HOSTNAME=vz-2ac4896e-ee8.b-cdn.net
BUNNY_STREAM_SIGNING_KEY=
BUNNY_STREAM_TOKEN_VERSION=legacy
