SINGAPAY_BASE_URL=https://sandbox-payment-b2b.singapay.id
SINGAPAY_CLIENT_ID=
SINGAPAY_CLIENT_SECRET=
SINGAPAY_API_KEY=
SINGAPAY_HMAC_VALIDATION_KEY=
SINGAPAY_ACCOUNT_ID=
MEMBERSHIP_ACCESS_CODES=
SUPABASE_URL=https://ogzxhzikebctrtmzdvvs.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
